<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CookedAssetSerializerGUI.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CookedAssetSerializerGUI.Properties.AppSettings>
            <setting name="LastUsedCfg" serializeAs="String">
                <value />
            </setting>
            <setting name="bAutoUseLastCfg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDNSSave" serializeAs="String">
                <value>False</value>
            </setting>
        </CookedAssetSerializerGUI.Properties.AppSettings>
    </userSettings>
</configuration>