.vs
CookedAssetSerializer/bin
CookedAssetSerializer/obj
UAssetAPI/bin
UAssetAPI/obj
UAssetGUI/bin
UAssetGUI/obj
UpgradeLog.htm

UEAssetToolkitGenerator.sln.DotSettings.user

.idea/

CookedAssetSerializerGUI/bin/

CookedAssetSerializerGUI/obj/
