.vs
CookedAssetSerializer/bin
CookedAssetSerializer/obj
UAssetAPI/bin
UAssetAPI/obj
UAssetGUI/bin
UAssetGUI/obj
UpgradeLog.htm

UEAssetToolkitGenerator.sln.DotSettings.user

.idea/

CookedAssetSerializerGUI/bin/
CookedAssetSerializerGUI/obj/
Testing

FBX-Wrapper/*.sln
FBX-Wrapper/CMakeCache.txt
FBX-Wrapper/cmake_install.cmake
FBX-Wrapper/*.proj*

_ReSharper.Caches/
*/cmake-build-debug/
*/CMakeFiles/

Release/

FBXLib/bin
FBXLib/obj
!*.pubxml

*.user
